<aside class="h-screen w-64 bg-amber-900 text-white fixed flex flex-col justify-between">
    <div>
        <div class="p-4 flex items-center border-b border-amber-800">
            <img class="h-28 w-auto mr-2" src="../../../assets/images/logo-no-background2.png"
                alt="Little Potters Logo" />
            <a routerLink="/admin-dashboard" class="text-xl font-bold hover:text-amber-700">
                Admin Dashboard
            </a>
        </div>

        <nav class="mt-4">
            <ul>
                <li>
                    <a routerLink="/home" routerLinkActive="bg-amber-800"
                        class=" px-4 py-3 hover:bg-amber-800 transition duration-200 flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                            <path
                                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                        </svg>
                        Visit Home Page
                    </a>
                </li>
                <li>
                    <a routerLink="/admin-dashboard/instructors" routerLinkActive="bg-amber-800"
                        class="px-4 py-3 hover:bg-amber-800 transition duration-200 flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 14l9-5-9-5-9 5 9 5z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                        </svg>
                        Manage Instructors
                    </a>
                </li>
                <li>
                    <a routerLink="/admin-dashboard/customers" routerLinkActive="bg-amber-800"
                        class="px-4 py-3 hover:bg-amber-800 transition duration-200 flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                        </svg>
                        Manage Customers
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="p-4 border-t border-amber-800">
        <button (click)="logout()"
            class="w-full bg-amber-700 hover:bg-amber-600 transition duration-200 py-2 rounded text-center flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
            </svg>
            Logout
        </button>
    </div>
</aside>